@media only screen and (max-width: 600px) {


  /****** BackGrounds *******/

  .bg-landing {
    background-image: url(https://media.giphy.com/media/26gshDkE2Nybaa1oY/giphy.gif);

    background-size: cover;
    background-repeat: repeat;
    /* transform: rotate(180deg); */
    width: 100vw;
    height: 100vh
  }

 
  /****** Navbar *******/

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    /* color: white; */
  }

  .nav-button {
    padding: 0em;
    border: solid 3px #9538c6;
    border-radius: 50%;
    color: #9538c6;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2em;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 5s ease-in-out;
    animation: color-fade 8s infinite linear;
  }

  .rotate-icon {
    transition: 5s ease-in-out;
    animation: rotate-icon 5s infinite linear;
    transform-origin: center 50% 0;
  }

  @-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes blink-1 {

    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes color-fade {
    0% {
      border: solid 3px#9538C6;
      color: #9538c6;
    }

    15% {
      border: solid 3px #d93a61;
      color: #d93a61;
    }

    30% {
      border: solid 3px #f0d86b;
      color: #f0d86b;
      /* text-shadow: .1px .1px white; */
      /* background-color: white */
    }

    45% {
      border: solid 3px #28bd6e;
      color: #28bd6e;
    }

    60% {
      border: solid 3px #3c2d9b;
      color: #3c2d9b;
    }

    75% {
      border: solid 3px #d432b9;
      color: #d432b9;
    }

    90% {
      border: solid 3px #ce3e37;
      color: #ce3e37;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /******* Grid *******/


  .m-grid-row {
    color: white;
    font-size: 1em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /****** Choices  ******/

  .choice-container {
    margin-left: 0px;
    color: white;
    font-size: 2em;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .choice-box,
  .choice-box-one,
  .choice-box-two,
  .choice-box-three {
    padding: 2.3em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .choice-box-one {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 5s ease-in-out;
    animation: color-fade 6s infinite linear;
    border: solid 3px #9538c6;
  }
  
  
  .choice-box-two {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 5s ease-in-out;
    animation: color-fade 7s infinite linear;
    border: solid 3px #9538c6;
  }
  
  
  .choice-box-three {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 5s ease-in-out;
    animation: color-fade 8s infinite linear;
    border: solid 3px #9538c6;
  }


}